<div class="bg-gray-800 p-2 flex justify-center items-center rounded w-40 h-15">
    <div
        class="bg-gray-300 w-30 h-10 flex flex-col justify-center items-center rounded-sm border-2 border-gray-400 relative">
        <!-- Ranura del dispensador -->
        <div class="w-10/12 h-2 bg-gray-600 border border-gray-900 rounded"></div>
        <!-- Foquito indicador -->
        <div
            class="absolute -right-5 top-0/2 -translate-y-1/2 w-4 h-4 rounded-full border-2 border-gray-700 bg-green-500 shadow">
        </div>
        <!-- Cambia bg-green-500 por bg-red-500 si está apagado -->
    </div>
</div>