<!-- Dispensador de billetes usando Tailwind CSS -->


<div class="bg-gray-800 p-2 flex justify-center-safe items-center rounded w-130 h-15">
    <div class="bg-gray-300 w-120 h-10 flex flex-col justify-center items-center rounded-sm border-2 border-gray-400">
        <div class="w-11/12 h-2 bg-gray-600 border border-gray-900"></div>
        <div class="w-11/12 h-1 bg-black border border-gray-900"></div>
        <div class="w-11/12 h-2 bg-gray-600 border border-gray-900"></div>
    </div>
</div>